@import 'src/var';

.recentWorks {
  background-color: #ECF2F6;
  background-image: url('./react.png');
  background-repeat: no-repeat;
  background-position: right;

  :global {
    .works-swiper {
      margin-top: 26px;
      display: flex;

      .swiper {
        overflow: visible;
        margin-top: 24px;
        width: 300px;
      }
    }

    .container-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto, 40px, auto, 40px;
      grid-template-areas:
        'title-container title-container'
        'content-container content-container'
        'buttons-block buttons-block'
        'view-more-button view-more-button';

        @include sm {
          grid-template-areas:
            'title-container .'
            'view-more-button .'
            'content-container content-container'
            'buttons-block buttons-block';
        }

      @include md {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          'title-container .'
          'view-more-button .'
          'content-container content-container'
          'buttons-block buttons-block';
      }

      @include lg {
        grid-template-columns: 250px 1fr;
        column-gap: 30px;
        grid-template-rows: auto, auto, auto;
        grid-template-areas:
          'title-container content-container'
          'view-more-button content-container'
          '. buttons-block';
      }

      @include xl {
        grid-template-columns: 300px 1fr;
      }
  }

    .title-container {
      grid-area: title-container;
    }

    .view-more-button {
      grid-area: view-more-button;
    }

    .content-container {
      grid-area: content-container;

      @include lg {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 538px;
      }
    }

    .buttons-block {
      grid-area: buttons-block;
      margin-top: 16px;
    }

    .title {
      margin-top: 10px;
    }

    .subtitle {
      @include lg {
        font-size: 17px;
      }
    }


    .button {
      max-width: 50%;
      margin: 0 auto;
      margin-top: 20px;

      @include sm {
        min-width: 100%;
      }

      @include lg {
        max-height: 67px;
      }
    }

    .pagination-wrapper {
      margin-top: 48px;

      @include md {
        margin-top: 71px;
      }

      @include lg {
        margin-top: 0;
      }
    }
  }
}