@import 'src/var';

.recentWorks {
  background-color: #ECF2F6;
  background-image: url('./react.png');
  background-repeat: no-repeat;
  background-position: right;

  :global {
    .works-swiper {
      margin-top: 26px;
      display: flex;

      .swiper {
        overflow: visible;
        margin-top: 24px;
        width: 300px;
      }
    }

    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto, 60px, auto, 40px;
      grid-template-areas:
        'title-container'
        'content-container'
        'buttons-block'
        'view-more-button';

      @include md {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          'title-container .'
          'view-more-button .'
          'content-container content-container'
          'buttons-block buttons-block';
      }

      @include lg {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        grid-template-rows: auto, auto, auto;
        grid-template-areas:
          'title-container content-container'
          'view-more-button content-container'
          '. buttons-block';
      }
    }

    .title-container {
      grid-area: title-container;
      max-width: 298px;
    }

    .view-more-button {
      grid-area: view-more-button;
    }

    .content-container {
      grid-area: content-container;
    }

    .buttons-block {
      grid-area: buttons-block;
      margin-top: 16px;

      @include lg {
        margin-top: 0;
      }
    }

    .title {
      margin-top: 10px;
    }

    .subtitle {
      @include lg {
        font-size: 17px;
      }
    }


    .button {
      min-width: 200px;
      max-width: 298px;
      margin: 20px auto;

      @include md {
        display: block;
        margin: 0;
        margin-top: 48px;
      }

      @include lg {
        margin-top: 0;
        max-width: 298px;
        margin-bottom: 20px;
      }
    }

    .pagination-wrapper {
      margin-top: 48px;

      @include md {
        margin-top: 71px;
      }

      @include lg {
        margin-top: 0;
      }
    }
  }
}