@import "src/var";

.recentWorks {
  background-color: #ecf2f6;

  :global {
    .works-swiper {
      margin-top: 26px;
      display: flex;

      .swiper {
        overflow: visible;
        margin-top: 24px;
        width: 300px;
      }
    }

    .container-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas:
        "title-container"
        "view-more-button"
        "content-container"
        "buttons-block";

      @include sm{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "title-container ."
        "view-more-button ."
        "content-container content-container"
        "buttons-block buttons-block";
      }
      @include md {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "title-container ."
          "view-more-button ."
          "content-container content-container"
          "buttons-block buttons-block";
      }

      @include lg {
        grid-template-columns: 250px 1fr;
        column-gap: 10px;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "title-container content-container"
          "view-more-button content-container"
          ". buttons-block";
      }

      @include xl {
        grid-template-columns: 300px 1fr;
      }
    }

    .title-container {
      grid-area: title-container;
    }

    .view-more-button {
      grid-area: view-more-button;
    }

    .content-container {
      grid-area: content-container;
      margin: 0 auto;
      width: 250px;
      @include xs{
        width: 275px;
      }
      @include md {
        width: 600px;
      }
      @include lg {
        min-height: 100%;
        width: 600px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 538px;
      }
      @include xl {
        width: 950px;
      }
    }

    .buttons-block {
      grid-area: buttons-block;
      padding-top: 24px;
    }

    .title {
      margin-top: 10px;
    }

    .subtitle {
      @include lg {
        font-size: 17px;
      }
    }
    .pagination-wrapper {
      @include md {
        margin-left: 20px;
      }
    }

    .button {
      max-width: 50%;
      margin: 0 auto;
      margin-top: 20px;

      @include sm {
        min-width: 100%;
      }

      @include lg {
        max-height: 67px;
      }
    }

    .pagination-wrapper {
      margin-top: 48px;

      @include md {
        margin-top: 71px;
      }

      @include lg {
        margin-top: 0;
      }
    }
  }
}
