@import 'src/var';

.swiperButtons {
  gap: 17px;
  display: flex;
  justify-content: center;

  :global {
    .backgroundButton {
      background-color: $Gray;
    }

    .fillButton {
      background-color: $MediumSeaGreen;
      border: none;
    }
  }
}