@import 'src/var';


.card {
  border-radius: 8px;
  background-color: $LightPeriwinkle;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 260px;
  margin-left: 7px;

  @include sm {
    width: 194px;
  }

  @include xl {
    min-width: 250px;
  }

  :global {
    .content-wrapper {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 240px;
    }

    .contentWrapperDescription {
      font-size: 14px;
      margin-top: 12px;
      font-weight: 400;
      line-height: 1.46;
      color: $Gray;
      text-align: start;

      @include lg {
        font-size: 12px;
      }
    }

    .content-title {
      font-size: 27px;
      font-weight: 500;
      letter-spacing: -0.045em;
      line-height: 1.1;
      text-align: center;

      @include md {
        font-size: 19px;
      }

      @include lg {
        font-size: 16px;
      }
    }

    .button {
      background-color: $MediumSeaGreen;
      padding: 12px 38px;
      line-height: 1.7;
      min-width: 165px;

      @include md {
        // padding: 8px 25px;
      }
    }
  }
}