@import "src/var";

.cardsList {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 275px;

  @include md {
    width: 574px;
  }

  @include xl {
    width: 873px;
  }

  @include xxl {
    width: 1172px;
  }
}
