@import "src/var";

.modal {
  background: $GrayBlue;
  position: fixed;
  z-index: 101;
  top: 41vh;
  left: 0;
  border-radius: 8px;
  width: 100%;
  max-width: 275px;
  padding: 20px 15px;
  transform: translate(-100%, -50%);
  transition: .8s ease-in-out;
  @include md {
    max-width: 547px;
    padding: 20px 40px;
  }

  p {
    font-size: 13px;
    color: $DarkGray;
    margin-bottom: 25px;
  }

  :global {
    .messengers {
      margin: 0 0 15px;
      order: 1;
      width: auto;
      @include md {
        order: 0;
      }

      li {
        opacity: 1;
        transform: none;
      }

      a {
        pointer-events: all;
      }
    }

    .button,
    .reset {
      margin: 0 5px;
      @media (max-width: $md) {
        font-size: 10px;
        min-width: 115px;
      }
    }

    .input,
    .textarea {
      input,
      textarea {
        font-size: 11px;
        @include md {
          font-size: 14px;
        }
        &::-webkit-input-placeholder,
        &::-moz-placeholder {
          color: $DarkGray;
        }
      }

      legend {
        color: $White;
      }
    }
  }
}

h3 {
  color: $White;
  font-size: 16px;
  font-family: $fontText;
  margin-bottom: 10px;
}

.form {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  p {
    color: $White;
    font-size: 16px;
  }
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 2;
  @include md {
    justify-content: start;
    order: 1;
  }
}

.modal.open {
  left: 45px;
  transform: translate(0, -50%);
  @include md {
    left: 84px;
  }
  @include xxl {
    left: calc((50% - 1720px / 2) + 84px);
  }
}