.hero {
  padding:  54px 0;
  min-height: 80vh;
  position: relative;
  background-color: #fff;
  :global{
    .noise{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;


    }
    .yCircle{
      position: absolute;
      left: 0;
      top: 0;
      height: 24vw;
      width: 24vw;
      transform:translate(-60% , -60%);
    }
    .bCircle{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      transform:translateX( max(-50% , -20vw));
    }
    .deskImg{
       position: absolute;
      right: 2vw;
      top: 50%;
      transform:translateY( -50%);
      width: calc(20vw + 160px);
    }

  }

}

.overlay{

  position: relative;
  z-index: 2;
}

.ctaContainer{

}