@import "src/var";
.hero {
  padding:  120px 0 40px 0 ;
  position: relative;
  background-color: #fff;
  @include md{
    padding:  180px 0 80px 0 ;
  }
  :global{
    .noise{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
    }
    .yCircle{
      position: absolute;
      left: 0;
      top: 0;
      height: 24vw;
      &.left{
        transform:translate(-60% , -60%);
      }
      &.right{
        height: 10vh;
        transform:none;
      }
    }
    .bCircle{
      position: absolute;
      top: 60px;
      bottom:200px;
      left: 100%;
      transform:translateX( max(-50% , calc(-35vw + 100px)  ));
      @include sm{
        top: 0;
        bottom: 0;
      }
    }
    .deskImg{
       position: absolute;
      right: 2vw;
      top: 50%;
      transform:translateY( -50%);
      width: calc(20vw + 160px);
    }
  }
}

.overlay{
  position: relative;
  z-index: 2;
  h1{
    margin-bottom: 10px;
    position: relative;
    :global{
      .yCircle{
        top: -20px;
        height: 0.6em;
        z-index: -1;
      }
    }

    &:after{
      content: ".";
      color:$Lime;
    }

  }

  :global{
    .subtitle{
      color:#737373;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 125%;
      max-width: 280px;
      margin-bottom: 26px;
      letter-spacing: -0.2px;
      @include md{
        max-width:440px;
      }
    }
    .button{
      margin-bottom: 26px;
      @include md{
        margin-bottom: 50px;
      }
    }
    .contact {
      margin-bottom: 40px;
    }
  }
}

.ctaContainer{

}

