@import "src/var";
.hero {
  padding:  120px 0 40px 0 ;
  position: relative;
  background-color: #fff;
  @include md{
    padding:  140px 0 80px 0 ;
  }
  @include lg{
    padding:  230px 0 80px 0 ;
  }

  @include lg{
    padding:  245px 0 80px 0 ;
  }
  :global{
    .noise{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
    }
    .yCircle{
      position: absolute;
      left: 0;
      top: 0;
      height: 24vw;
      &.left{
        transform:translate(-60% , -60%);
      }
      &.right{
        height:80px;

        @include xl{
          height: 160px;
        }
        transform:translate(10% , 10%);
      }
    }
    .bCircle{
      position: absolute;
      top: 60px;
      bottom:200px;
      left: 100%;
      transform:translateX( max(-50% , calc(-35vw + 100px)  ));
      @include sm{
        top: 0;
        bottom: 0;
      }
      @include lg{
        top:20px;
        bottom: 20px;
      }

      @include xl{
        left: min(100% , calc(50% + 800px));
      }

    }
    .deskImg{
      position: absolute;
      right: 2vw;
      top:60%;
      width: calc(20vw + 220px);
      @include lg{
        top: 50%;
        width: calc(20vw + 160px);
      }

      transform:translateY( -50%);

      transform:translateY( -50%);
      @include xl{
        width: 600px;
        right: auto;
        left: min(60% , calc(50% + 500px));
      }
    }
    .swipeTo{
      @include xl{
        margin-left: 15px;
        margin-top: 22px;
      }
    }
  }
}

.overlay{
  position: relative;
  z-index: 2;
  h1{
    margin-bottom: 10px;
    position: relative;
    :global{
      .yCircle{
        top: -5px;
        left: -5px;
        height: 0.6em;
        z-index: -1;
      }
    }

    &:after{
      content: ".";
      color:$Lime;
    }

  }

  :global{
    .subtitle{
      color:#737373;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 125%;
      max-width: 280px;
      margin-bottom: 26px;
      letter-spacing: -0.2px;
      @include md{
        max-width:440px;
      }
      @include lg{
        max-width: 600px;
        font-size: 17px;
        margin-bottom: 50px;
      }
      @include xl{
        font-size: 23px;
        max-width: 900px;
        margin-top: 20px;
        letter-spacing: 0.5px;
        margin-bottom: 80px;
      }
    }
    .button{
      margin-bottom: 26px;
      @include md{
        margin-bottom: 50px;
      }
    }
    .contact {
      margin-bottom: 40px;
      @include md{
        margin-bottom: 60px;
      }
    }
  }
}

.ctaContainer{
  @include lg{
    display: flex;
    align-items: center;
    margin-bottom: 80px;


  }
  :global{
    .button{
      @include lg{
        margin: 0px;
      }
    }
    .contact{
      margin-bottom: 40px;
      @include md{
        margin-bottom: 60px;
      }
      @include lg{
        margin: 0 0 0 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: auto;
        li{
          margin: 0;
        }
      }

      img{
        @include md{
          height: 55px;
          margin-bottom: 5px;
        }
        @include lg{
          height: 22px;
          margin-right: 5px;
        }
        @include xl{
          height: 27px;
        }
      }
    }
  }
}