@import 'src/var';

.strategy {
  background-image: url("../whatWeDo/line_background_grid.png");
  background-color: #292930;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $White;
  position: relative;

  :global { 
    .gCircle {
      position: absolute;
      left: 75px;
      top: -15px;
      height: 100px;
      opacity: 0.5;
    }

    .container {
      position: relative;
    }

    // Pagination

    .pagination-button-wrapper {
      margin-top: 40px;

      @include lg {
        display: none;
      }
    }

    // Buttons container 
    .footerButtons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;

      @include lg {
        display: none;
      }
    }
  }
}