@import "src/var";

.meetOur {
  position: relative;
  background-color: $White;

  :global {
    .noise{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
    }

    .container {
      position: relative;
    }

    .img-block {
      position: absolute;
      background-image: url('./mobile_illustration.png');
      top: -60px;
      right: -210px;
      width: 344px;
      height: 360px;

      @include lg {
        right: 50px;
      }
    }

    .img-phone {
      position: absolute;
      top: 63px;
      left: 78px;
    }

    
    .img-illustration {
      position: absolute;
      height: 344px;
      top: 0;
      right: 0;
    }

    .footer-buttons {
      margin-top: 20px;

      @include md {
        display: none;
      }
    }

    .whole-team-button {
      margin-top: 20px;
      min-width: 165px;

      @include md {
        min-width: 200px;
        margin-top: 50px;
      }

    }

    .swiper-container {
      @include md {
        display: none;
      }
    }

    .team-list-container {
      display: none;

      @include md {
        display: flex;
        margin-top: 70px;
        justify-content: space-between;
        align-items: stretch;
        gap: 30px;
        max-width: 1100px;
      }
    }
  }
}