@import "src/var";

.meetOur {
  position: relative;
  background-color: $White;

  :global {
    .container {
      position: relative;
    }

    .container-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto, auto, 40px, auto;
      grid-template-areas:
        'title-block'
        'container-block'
        'footer-buttons'
        'whole-team-button';
    }

    .img-block {
      position: absolute;
      background-image: url('./mobile_illustration.png');
      top: -60px;
      right: -210px;
      width: 344px;
      height: 360px;

      @include lg {
        right: 50px;
      }
    }

    .img-phone {
      position: absolute;
      top: 63px;
      left: 78px;
    }

    .pagination-wrapper {
      margin-top: 28px;
    }

    .img-illustration {
      position: absolute;
      height: 344px;
      top: 0;
      right: 0;
    }

    .footer-buttons {
      margin-top: 20px;

      @include md {
        display: none;
      }
    }

    .whole-team-button {
      margin-top: 20px;
      min-width: 165px;

      @include md {
        min-width: 200px;
        margin-top: 50px;
      }
    }

    .container-block {
      overflow: hidden;
      margin-top: 16px;
    }

    .pagination-wrapper {
      @include md {
        display: none;
      }
    }
  }
}