@import "src/var";

.meetOur {
  position: relative;
  background-color: $White;

  :global {
    .container {
      position: relative;
    }

    .container-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas:
        "title-block"
        "container-block"
        "footer-buttons"
        "whole-team-button";
    }

    .title-block {
      grid-area: title-block;
    }

    .img-block {
      position: absolute;
      top: -60px;
      right: -210px;
      width: 344px;
      height: 360px;

      @include lg {
        right: 50px;
        transform: scale(-1, 1);
      }
    }

    .img-phone {
      position: absolute;
      top: 63px;
      left: 78px;
    }

    .pagination-wrapper {
      margin-top: 28px;
    }

    .img-illustration {
      position: absolute;
      height: 344px;
      top: 0;
      right: 0;
    }

    .footer-buttons {
      grid-area: footer-buttons;
      padding-top: 20px;
    }

    .noise {
      z-index: 2;
    }

    .whole-team-button {
      grid-area: whole-team-button;
      min-width: 165px;
      margin: 20px auto 0;
    }

    .container-block {
      grid-area: container-block;
      overflow: hidden;
      margin-top: 24px;
      height: 100%;
    }
  }
}
