@import "src/var";
$colorAccent: $Lime;
$borderColor: #6a6a6a;
$colorGrey: #10be43;
$lightBorder: rgba(106, 106, 106, 0.7);

.hero {
  margin-bottom: 70px;
  @include lg {
    display: flex;
    margin-bottom: 150px;
  }
  :global {
    .gatsby-image-wrapper {
      div[data-placeholder-image] {
        background-color: rgba(0, 0, 0, 0) !important;
        opacity: 0 !important;
      }
    }
  }
}
.photo {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include lg {
    width: 340px;
    padding-right: 60px;
    margin-bottom: 0;
  }

  picture {
    display: block;
    max-width: 400px;
    @include lg {
      margin: 0;
    }
  }

  img {
    height: auto;
  }
  .buttonChat {
    display: block;
    margin-top: 20px;
    max-width: 188px;
    min-width: 188px;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    padding: 25px 10px;
  }
}
.description {
  color: $White;
  @include lg {
    width: calc(100% - 340px);
    background-color: transparent;
  }
  @include xl {
    padding-left: 0;
  }

  .wrap-name {
    margin-bottom: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 685px;
    @include lg {
      margin-bottom: 60px;
    }
  }

  h1 {
    text-align: center;
    color: $colorGrey;
    font-size: clamp(40px, 10vw - 20px, 80px);
    margin-bottom: 10px;
    @include md {
      text-align: left;
    }
    span {
      color: $White;
    }
  }

  .job {
    font-size: 24px;
    text-align: center;
    @include md {
      text-align: left;
    }
  }
}
.content {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  p {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.modalTeam {
  :global {
    .btns {
      .button,
      .reset {
        @include sm {
          max-width: 180px;
          min-width: 180px;
          padding: 20px;
        }
      }
    }
    .form {
      margin-top: 20px;
    }
  }
}
.modalHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include sm {
    flex-direction: row;
  }
  p {
    margin-bottom: 10px;
  }
  &Text {
    flex: 1;
  }
  :global {
    .gatsby-image-wrapper {
      width: 102px;
      height: 102px;
      @include sm {
        margin-right: 32px;
      }
    }
  }
}
