@import 'src/var';

.clientReviews {
  position: relative;
  background-color: $White;
  background-image: url('./upwork_label_mobile.png');
  background-repeat: no-repeat;
  background-position: right top;

  @include md {
    background-image: url('./upwork_label_tablet.png');
    background-size: contain;
  }

  :global {
    .green {
      color: $MediumSeaGreen;
    }

    .grid-container {
      display: grid;
      grid-template-rows: 250px 210 1fr 40px;
      grid-template-columns: 100%;
      grid-template-areas:
        'title'
        'review'
        'content'
        'buttons';

      @include md {
        grid-template-rows: auto 1fr 40px;
        grid-template-columns: 55% 45%;
        grid-template-areas:
          'title review'
          'content content'
          'buttons buttons';
      }

      @include lg {
        grid-template-columns: 60% 40%;
        grid-template-areas:
          'title review'
          'content review'
          'buttons buttons';
      }

      @include lg {
        grid-template-columns: 50% 50%;
      }
    }

    h2::after{
        content: ".";
        color:$LimeGreen;
    }

    .title {
      grid-area: title;
      max-width: 275px;

      @include md {
        max-width: 100%;
      }
    }

    .review {
      grid-area: review;
      font-size: 29px;
      line-height: 1;
      font-weight: 500;
      font-family: $fontTitle;
      max-width: 275px;

      @include md {
        max-width: 190px;
        margin: 0 auto;
        margin-top: auto;
      }

      @include lg {
        margin: auto;
      }

      @include xxl {
        max-width: 360px;
      }
    }

    .review-title {
      font-size: 40px;
      margin-top: 24px;
      font-weight: 700;

      @include md {
        font-size: 29px;
      }

      @include xxl {
        font-size: 40px;
        font-weight: 500;
      }
    }

    .bg-upwork-title {
      background-image: url('./upwork_title.png');
      background-repeat: no-repeat;
      background-position: left bottom;
    }

    .content {
      grid-area: content;
      margin-top: 48px;
      padding-bottom: 16px;

      @include md {
        padding-right: 110px;
      }

      @include lg {
        padding: 0;
      }
    }

    .buttons {
      grid-area: buttons;
    }

    .button {
      min-width: 190px;
      margin-top: 24px;
    }

    .list-title {
      font-size: 29px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.045em;
      margin-top: 16px;
      font-family: $fontTitle;

      @include xxl {
        font-size: 40px;
      }
    }

    .list-rating {
      font-size: 14px;
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .list-review {
      font-size: 16px;
      line-height: 1.28;
      margin-top: 8px;
      text-align: justify;
      color: $Gray;

      @include lg {
        font-size: 14px;
      }

      @include xxl {
        font-size: 18px;
      }
    }

    .list-link {
      margin-top: 8px;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: -0.045em;
    }

    .swiper {
      margin-top: 24px;
    }
  }
}