@import "src/var";

.hero {
  padding: 120px 0 40px 0;
  position: relative;
  @include md {
    padding: 140px 0 80px 0;
  }
  @include lg {
    padding: 230px 0 80px 0;
  }

  @include lg {
    padding: 245px 0 80px 0;
  }

  .overlay {
    z-index: 2;
    position: relative;
    h1 {
      margin-bottom: 10px;
      position: relative;
    }
  }

  .speed {
    background: rgba(250, 253, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .top {
      border-bottom: 2px solid #d3d4dc;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  :global {
    .yCircle{
      position: absolute;
      left: 0;
      top: 0;
      height: 24vw;
      &.left{
        transform:translate(-60% , -60%);
      }
      &.right{
        height:80px;

        @include xl{
          height: 160px;
        }
        transform:translate(10% , 10%);
      }
    }
    .bCircle {
      position: absolute;
      top: 60px;
      bottom: 200px;
      left: 100%;
      transform: translateX(max(-50%, calc(-35vw + 100px)));
      @include sm {
        top: 0;
        bottom: 0;
      }
      @include lg {
        top: 20px;
        bottom: 20px;
      }

      @include xl {
        left: min(100%, calc(50% + 800px));
      }
    }

    .openBtn {
      padding: 20px 10px;
    }

    .modal {
      position: static;

      .button {
        position: relative;
        transform: none;
        left: auto;
        top: auto;
      }

      .textarea,
      .input {
        margin-bottom: 25px;
      }

      .modalForm {
        left: 45px;
        transform: none;
        top: 75px;
        opacity: 0;
        @include md {
          left: 84px;
          max-width: 600px;
        }
        @include lg {
          max-width: 750px;
        }
        @include xxl {
          left: calc((50% - 1720px / 2) + 84px);
        }

        .messengers {
          order: 1;
        }

        .btns {
          order: 2;
        }

        &.open {
          opacity: 1;
        }
      }
    }
  }
}
