.item{
    display: grid;
    grid-template-columns: 175px 1fr 1fr 110px 35px 190px 188px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    &>div{
        display: flex;
        align-items: center;
        &:not(.link){
            border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
        }
    }
    .img{
        border-bottom: none!important;
        width: 127px;
        padding-right: 48px;
        margin-right: 60px;
        position: relative;
        &:after{
            content: '';
            display: block;
            width: 0.5px;
            background: rgba(255, 255, 255, 0.5);
            height: calc(100% + 20px);
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    &:last-child{
        padding-bottom: 0;
        &>div{
            &:not(.link){border-bottom: none;}
        }
        img{
            &:after{height: 100%;}
        }
    }
    .link{
        margin-left: 41px;
        display: block;
    }
}