@import "src/var";
.item{
    display: grid;
    grid-template-columns: 114px 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #BFBFBF;
    padding: 15px 0;
    transition: background .2s linear, box-shadow .2s linear, backdrop-filter .2s linear;
    @include sm{
        grid-column-gap: 20px;
        grid-template-columns: 150px 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
    }
    @include lg{
        grid-template-columns:127px 1fr 1fr 170px 1fr 127px;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0;
        color: #fff;
        padding: 13px 0 8px;
    }
    @include xl{
        grid-template-columns:195px 1fr 1fr 188px 1fr 195px;
        grid-column-gap: 40px;
    }
    &:hover{
        background: rgba(255, 255, 255, 0.07);
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(23px);
    }
    &>div{
        display: flex;
        flex-direction: column;
        @include lg{
            flex-direction: row;
        }
    }
    .subTitle{
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
    }
    .price{
        width: 74px;
        text-align: center;
    }
    .levelRate{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .img{
        border-bottom: none!important;
        grid-area: 1 / 1 / 3 / 2;
        display: flex;
        align-items: center;
        @include sm{
            grid-area: 1 / 1 / 3 / 2;
        }
        @include lg{
            justify-content: flex-end;
            padding-right: 13px;
        }
        &>div{
            width: 114px;
            @include sm{
                width: 127px;
            }
        }
    }
    .name{
        grid-area: 1 / 2 / 2 / 3;
        @include sm{
            grid-area: 1 / 2 / 2 / 3;
        }
    }
    .direction{
        grid-area: 2 / 2 / 3 / 3;
        @include sm{
            grid-area: 1 / 3 / 2 / 4;
        }
    }
    .level{
        grid-area: 3 / 2 / 4 / 3;
        @include sm{
            grid-area: 2 / 2 / 3 / 3;
        }
    }
    .english{
        grid-area: 4 / 2 / 5 / 3;
        @include sm{
            grid-area: 2 / 3 / 3 / 4;
        }
    }
    .link{
        grid-area: 3 / 1 / 5 / 2;
        justify-content: flex-end;
        @include sm{
            grid-area: 3 / 1 / 4 / 2;
        }
        @include lg{
            align-items: center;
            padding-right: 15px;
        }
        a{
            display: block;
            min-width: 100%;
            max-width: 100%;
            height: 73px;
        }
       
    }
    .img, .name, .direction, .level, .english, .link{
        @include lg{
            grid-area: 1
        }
    }
    .name, .direction, .level, .english{
        @include lg{
            padding-top: 55px;
        }
        
    }
}
