.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 213, 137);

  img {
    height: 100px;
    width: 100px;
  }
}

.loader, .inside {
  position: static;
  background-color: transparent;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

