@import 'src/var';

.review {

  :global {
    .yCircle {
      position: absolute;
      width: 80px;
      height: 80px;
      left: -5px;
      top: -13px;
    }

    // General component
    .container-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto, auto, auto;
      grid-template-areas:
        "title-section"
        "review-section"
        "pagination-section";

      @include lg {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto, auto;
        column-gap: 30px;
        grid-template-areas:
          "title-section . ."
          "pagination-section review-section review-section"
      }

      @include xl {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto, auto;
        column-gap: 30px;
        grid-template-areas:
          "title-section ."
          "pagination-section review-section review-section"
      }
    }

    .title-section {
      grid-area: title-section;
      position: relative;
      max-width: 275px;

      @include lg {
        max-width: 100%;
      }
    }

    .pagination {
      grid-area: pagination;
      margin-top: 24px;
    }

    .review-section {
      grid-area: review-section;
      min-width: 275px;
      padding-top: 24px;
      position: relative;

      .title {
        color: $MediumSeaGreen;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.045em;

        @include lg {
          position: absolute;
          top: -50px;
        }
      }

      @include lg {
        padding-top: 0;
      }
    }

    .pagination-section {
      grid-area: pagination-section;
      margin-top: 24px;
      margin-right: auto;
    }

    // Card item

    .review-item {
      border-top: 2px solid $Lime;
      padding-top: 25px;
      max-width: 100%;

      @include md {
        max-width: calc(50%);
      }

      &:not(:first-child) {
        margin-top: 24px;

        @include md {
          margin-top: 0;
        }
      }

      &-name {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.04em;
      }

      &-city {
        font-size: 20px;
        color: $Gray;
        font-weight: 700;
        display: none;
      }

      &-rating {
        margin-top: 16px;
      }

      &-comment {
        margin-top: 8px;
        font-size: 20px;
        line-height: 1.23;
        letter-spacing: -0.025em;
      }
    }

    .dot {
      color: $MediumSeaGreen;
    }

    .button {
      min-width: 100%;
    }

    .review-section {
      // margin-top: 40px;

      .pagination {
        margin-top: 25px;
        width: 250px;
      }

      .list {
        max-width: 100%;
        margin-top: 24px;

        @include md {
          display: flex;
          gap: 30px;
        }

        @include lg {
          margin-top: 0;
        }
      }

      .buttons {
        margin-top: 16px;
      }
    }

    .pagination-button {
      width: 10px;
    }

    .button {

      @include xl {
        min-width: 300px;
      }
    }
  }
}