@import 'src/var';

.ourAdvantages {
  background-color: #292930;
  color: $White;
  position: relative;

  :global {
    .gCircle {
      width: 94px;
      position: absolute;
      top: -10px;
      left: -30px;
    }

    .bCircle {
      position: absolute;
      width: 36px;
      top: 161px;
      right: -350px;
    }

    .container {
      position: relative;
    }

    .clock-mobile {
      background-image: url("./clock_mobile.png");
      background-repeat: no-repeat;
      position: absolute;
      width: 268px;
      height: 268px;
      top: 0;
      right: -88px;

      @include md {
        display: none;
      }
    }

    .noise {
      z-index: 1;
    }

    .illustration-tablet {
      background-image: url("./illustration_tablet.png");
      background-repeat: no-repeat;
      position: absolute;
      display: none;

      @include md {
        display: block;
        height: 387px;
        width: 200px;
        top: 12px;
        right: 10px;
      }
    }

    .h2 {
      word-wrap: break-word;
    }

    .footer-buttons {
      margin-top: 20px;

      @include md {
        display: none;
      }
    }

    .title-block {
      position: relative;
      z-index: 1;
      @include md {
        max-width: 457px;
      }
    }

    .pagination-wrapper {
      margin-top: 48px;

      @include md {
        display: none;
      }
    }

    .wrap-button {
      margin: auto;
      text-align: center;
    }

    .button {
      margin: 17px auto 0;
      min-width: 192px;
      display: inline-block;

      @include md {
        margin-top: 50px;
      }
    }
  }
}