@import 'src/var';

.ourAdvantages {
  background-image: url("../whatWeDo/line_background_grid.png");
  background-color: #292930;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $White;
  position: relative;

  :global {
    .gCircle {
    width: 94px;
    position: absolute;
    top: 60px;
    left: 35px;
    opacity: 0.5;

    @include md {
      top: 32px;
      left: 50px;
    }
    }

    .bCircle {
      position: absolute;
      width: 36px;
      top: 61px;
      right: 273px;
    }

    .container {
      position: relative;
    }

    .clock-mobile {
      background-image: url("./clock_mobile.png");
      background-repeat: no-repeat;
      position: absolute;
      width: 268px;
      height: 268px;
      top: 0;
      right: -88px;

      @include md {
        display: none;
      }
    }

    .illustration-tablet {
      background-image: url("./illustration_tablet.png");
      background-repeat: no-repeat;
      position: absolute;
      display: none;
      
      @include md {
        display: block;
        height: 387px;
        width: 200px;
        top: 12px;
        right: 10px;
      }
    }

    .h2 {
      word-wrap: break-word;
    }

    .footer-buttons {
      margin-top: 20px;

      @include md {
        display: none;
      }
    }

    .title-block {
      @include md {
        max-width: 457px;
      }
    }

    .pagination-wrapper {
      margin-top: 48px;

      @include md {
        display: none;
      }
    }

    .button {
      margin: 17px auto;
      margin-bottom: 0;
      min-width: 192px;

      @include md {
        margin-top: 50px;
      }
    }
  }
}