@import "src/var";
$xs: 375px;
@mixin xs {
  @media (min-width: $xs) {
    @content;
  }
}
.heroImg {
  position: relative;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;
  @include md {
    width: 630px;
  }
  @include lg {
    width: 700px;
  }
  @include xl {
    width: 1015px;
  }
}
.heroImgDevice {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.heroImgWrapp {
  position: absolute;
  top: 30px;
  left: 22px;
  padding: 4px;
  & > div {
    width: 100%;
    height: 100%;
  }
  @include md {
    width: 498px;
    height: 341px;
    left: 64px;
    padding: 13px;
  }
  @include lg {
    width: 554px;
    height: 380px;
    left: 71px;
    padding: 15px;
  }
  @include xl {
    width: 804px;
    height: 551px;
    left: 102px;
    padding: 22px;
  }
}
.mainInfoImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobileWrapp {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 210px;
  height: 410px;
  padding: 11px 14px 12px;
  @include xs {
    width: 275px;
    height: 538px;
    padding: 15px 19px 15px;
  }
  @include md {
    margin: 0;
  }
  @include xl {
    width: 385px;
    height: 754px;
    padding: 22px 28px 23px;
  }
}
.mobileDevice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.mobileImg {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 19px 20px;
  position: relative;
  overflow-y: auto;
  z-index: 1;
  @include xs {
    border-radius: 24px 26px 25px 27px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  @include xl {
    border-radius: 34px 36px 30px 33px;
  }
}
