@import "src/var";
$xs: 375px;
@mixin xs {
  @media (min-width: $xs) {
    @content;
  }
}
.heroImg {
  position: relative;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;
  @include md {
    width: 630px;
  }
  @include lg {
    width: 700px;
  }
  @include xl {
    width: 1015px;
  }
}
.heroImgDevice {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.heroImgWrapp {
  position: absolute;
  top: 30px;
  left: 22px;
  padding: 4px;
  & > div {
    width: 100%;
    height: 100%;
  }
  @include md {
    width: 498px;
    height: 341px;
    left: 64px;
    padding: 13px;
  }
  @include lg {
    width: 554px;
    height: 380px;
    left: 71px;
    padding: 15px;
  }
  @include xl {
    width: 804px;
    height: 551px;
    left: 102px;
    padding: 22px;
  }
}
.mainInfoImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobileWrapp {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 210px;
  height: 410px;
  padding: 11px 14px 12px;
  @include xs {
    width: 275px;
    height: 538px;
    padding: 15px 19px 15px;
  }
  @include md {
    margin: 0;
  }
  @include xl {
    width: 385px;
    height: 754px;
    padding: 22px 28px 23px;
  }
}
.mobileDevice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 120px;
    height: 27px;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='164' height='31' viewBox='0 0 164 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H164C162.396 0.633367 161.327 2.16514 161.286 3.88899L161.242 5.74719C161.242 19.6939 149.936 31 135.989 31H28.0112C14.0644 31 2.75841 19.6939 2.75841 5.74719L2.71399 3.88899C2.67278 2.16514 1.60381 0.633367 0 0Z' fill='%23004D66'/%3E%3C/svg%3E%0A");
    @include xl {
      width: 164px;
      top: 22px;
    }
  }
}
.mobileImg {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 19px 20px;
  position: relative;
  overflow-y: auto;
  z-index: 1;
  @include xs {
    border-radius: 24px 26px 25px 27px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  @include xl {
    border-radius: 34px 36px 30px 33px;
  }
}
