@import "src/var";

.home {
  overflow: hidden;
  max-width: 100%;

  :global {

    .bCircle,
    .yCircle,
    .gCircle {
      border-radius: 50%;
      aspect-ratio: 1;
    }

    .yCircle {
      background-color: $Yellow;
    }

    .bCircle {
      background-color: $Blue;
    }

    .gCircle {
      background-color: #3D3D48;
    }

    .noise {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
    }

    h2 {
      margin-bottom: 60px;
      position: relative;
    }

    .vertical-padding {
      padding: 34px 0;

      @include md {
        padding: 50px 0;
      }

      @include xl {
        padding: 87px 0;
      }
    }

    .subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      text-align: left;

      @include md {
        font-size: 19px;
        line-height: 1.53;
      }

      @include lg {
        font-size: 17px;
      }

      @include lg {
        font-size: 21px;
      }
    }

    .second-title {
      font-family: $fontTitle;
      font-size: 21px;
      font-weight: 700;
      letter-spacing: -0.025em;

      color: $MediumSeaGreen;

      @include lg {
        font-size: 16px;
      }
    }

    .overlay {
      position: relative;
      z-index: 2;
    }
  }
}