@import "src/var";
.home{
 overflow:hidden;
  max-width:100%;

  :global{
    .bCircle,.yCircle{
      border-radius: 50%;
      aspect-ratio: 1;
    }
    .yCircle{
      background-color: $Yellow;
    }
    .bCircle{
      background-color: $Blue;
    }
  }
}