@import "src/var";

$borderColor: rgba(255, 255, 255, 0.3);

.projectBlockWrap {
  padding: 30px 0;
  @include lg {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
  }
  :global {
    .block {
      width: 100%;
    }
  }
}

.pictureMobile {
  padding: 50px 0;
  border-bottom: 1px solid $borderColor;

  img {
    max-width: 460px;
  }

  :global {
    .picture-mobile__wrap {
      backdrop-filter: blur(100px);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.pictureDesktop {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include md {
    gap: 30px;
  }
  @include lg {
    gap: 50px;
  }
}
