@import "src/var";

$borderColor: rgba(255, 255, 255, 0.3);

.projectBlockWrap {
  padding: 30px 0;
  @include lg {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
  }
  :global {
    .block {
      width: 100%;
      @include lg {
        width: 50%;
        &:nth-child(2n) {
          max-width: 470px;
          margin-left: auto;
          padding-left: 80px;
        }
      }
    }
  }
}

.pictureMobile {
  padding: 50px 0;
  border-bottom: 1px solid $borderColor;

  img {
    max-width: 460px;
  }

  :global {
    .picture-mobile__wrap {
      backdrop-filter: blur(100px);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.pictureDesktop {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
