@import "src/var";

.wrapper {
  background-image: url("line_background_grid.png");
  background-color: #292930;
  color: $White;
  position: relative;
  padding: 34px 0;
  @include lg {
    padding: 70px 0 0;
    margin-bottom: 25%;
  }
  @media (min-width: 1310px) {
    margin-bottom: 327px;
  }

  h2 {
    text-align: center;
    margin-bottom: 24px;
    position: relative;
    z-index: 1;
    @include lg {
      margin-bottom: 50px;
    }
  }

  .img {
    width: fit-content;
    margin: 0 auto;
    @include md{
      margin-top: -16%;
    }
    @include lg {
      margin-bottom: -31%;
    }
    @include xxl{
      margin-top: -14%;
    }

    img {
      max-width: 100%;
    }
  }

  .form {
    width: 100%;
    max-width: 540px;
    margin: 0 auto 20px;
    position: relative;
    z-index: 1;
  }

  :global {
    .formField {
      input,
      textarea {
        color: $White;
        font-size: 14px;
        @include md {
          font-size: 18px;
        }

        &::-webkit-input-placeholder,
        &::-moz-placeholder {
          color: $White;
        }
      }
      textarea{
        height: 60px;
      }
    }

    .button {
      margin: 0 auto;
    }

    .noise {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: 1;
      @include lg {
        bottom: -25%;
      }
    }
  }
}
