@import 'src/var';


.card {
  width: 200px;
  :global {
    .cardsContainer {
      padding: 8px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 8px;
      background-color: $LightPeriwinkle;
      width: 275px;
      text-align: start;

      &.active {
        background-color: $MediumSeaGreen;
      }

      @include md {
        width: 194px;
      }

      @include lg {
        width: 166px;
        padding: 4px;
      }

      @include xl {
        width: 290px;
      }
    }

    .content-wrapper {
      border-radius: 8px;
      margin-top: 15px;
      padding: 20px;
      text-align: start;
      background-color: $White;
      min-height: 259px;

      @include md {
        min-height: 181px;
      }

      @include lg {
        min-height: 155px;
      }

      @include xl {
        min-height: 235px;
      }
    }

    .content-description {
      font-size: 14px;
      margin-top: 12px;
      font-weight: 400;
      line-height: 1.46;
      color: $Gray;
      text-align: start;

      @include md {
        font-size: 12px;
      }

      @include xl {
        font-size: 16px;
      }
    }

    .content-title {
      font-size: 21px;
      font-weight: 500;
      letter-spacing: -0.045em;

      @include lg {
        font-size: 16px;
      }

      @include xl {
        font-size: 30px;
      }
    }

    .img-wrapper {
      width: 146px;
      height: 146px;
      border-radius: 50%;
      background-color: $White;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      @include md {
        width: 133px;
        height: 133px;
        margin-top: 26px;
      }

      @include lg {
        width: 113px;
        height: 113px;
        margin-top: 22px;
      }

      @include xl {
        width: 208px;
        height: 208px;
        // margin-top: 22px;
      }
    }
  }
}