@import "src/var";

.noise {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.flag {
  background-color: $White;
  position: fixed;
  right: 0;
  bottom: 15%;
  padding: 5px 10px 0;
  z-index: 1;
  transform: skewY(-30deg);
  @include sm {
    padding: 5px 19px 0;
  }

  @include lg {
    padding: 5px 34px 0;
  }

  @include xl {
    right: -17px;
    transform: skewY(0deg);
    background-color: transparent;
    padding: 0;
  }
  @include xxl {
    right: 0;
  }

  :global {
    .flag__desktop {
      display: none;

      @include xl {
        display: block;
      }
    }

    .flag__mobile {
      @include xl {
        display: none;
      }
    }
  }

  img {
    max-width: 100px;

    @include xl {
      max-width: 180px;
    }
  }
}

.button__chat {
  position: fixed;
  bottom: 25%;
  right: 5px;
  max-width: 75px;
  min-width: 0;
  padding: 10px;
  border-radius: 50%;
  z-index: 1;

  @include lg {
    padding: 15px;
    right: 15px;
  }

  @include xxl {
    right: calc((50% - 1720px / 2) + 85px);
  }

  img {
    max-width: 35px;

    @include lg {
      max-width: 40px;
    }
  }
}
