@import "src/var";

$colorSecond: #242A42;
$border: #C9C9C9;

.hardSkills{
  background-color: $colorSecond;
  color: $White;
  text-transform: uppercase;
  font-size: clamp(20px, 10vw - 80px, 20px);
  line-height: 1;
  margin-bottom: 1px;
  @include lg{
    width: 50%;
    padding: 0 50px;
  }
  :global{
    .item{
      display: flex;
    }
    .wrap{
      border-bottom: 2px solid $border;
      display: flex;
    }
    ul{
      width: 33%;
      padding-right: 25px;
      word-wrap: break-word;
    }
    li{
      margin-bottom: 5px;
    }
    h3{
      font-weight: 500;
      font-size: clamp(20px, 10vw - 80px, 20px);
      padding-right: 30px;
      border-right: 2px solid $border;
      margin-right: 30px;
    }
  }
}