@import "src/var";

.team{
    background-color: #1E1E1E;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 115.89%);
    backdrop-filter: blur(225px);
    position: relative;
    overflow: hidden;
    padding-top: 111px;
    @include md{
        padding-top: 160px;
    }
    .logo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('./logo.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    :global{
        .noise{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        .button__chat{
            position: fixed;
            bottom: 25%;
            right: 5px;
            max-width: 75px;
            min-width: 0;
            padding: 10px;
            border-radius: 50%;
            z-index: 3;
            @include lg{
              padding: 15px;
              right: 15px;
            }
            @include xxl{
              right: calc((50% - 1720px / 2) + 85px);
            }
            img{
              max-width: 35px;
              @include lg{
                max-width: 40px;
              }
            }
          }
    }
    &Wrapper{
        position: relative;
        z-index: 2;
        padding: 0 50px;
        @include md{
            padding: 0 63px;
        }
        @include lg{
            padding: 0 75px;
        }
        @include xl{
            padding: 0 max(150px, 50% - 670px);
        }
    }
    h1{
        font-weight: 500;
        font-size: 55px;
        line-height: 100%;
        letter-spacing: -0.008em;
        color: #FFFFFF;
        margin-bottom: 37px;
        @include md{
            font-size: 80px;
        }
    }
}
.gridWrapper{
    color: #fff;
}
.gridHead{
    @include lg{
        display: grid;
        grid-template-columns:127px 1fr 1fr 170px 1fr 127px;
        grid-column-gap: 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        border-top: 0.5px solid rgba(255, 255, 255, 0.5);
        padding-top: 31px;
        margin-bottom: 40px;
    }
    @include xl{
        grid-template-columns:195px 1fr 1fr 188px 1fr 195px;
        grid-column-gap: 40px;
    }
}
.gridBody{
    margin-bottom: 100px;
}