@import "src/var";

.team{
    background-color: #1E1E1E;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 115.89%);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding-top: 111px;
    @include md{
        padding-top: 168px;
    }
    &:after{
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('./logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    :global{
        .noise{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
    }
    &Wrapper{
        position: relative;
        z-index: 1;
        padding: 0 50px;
        @include md{
            padding: 0 63px;
        }
        @include lg{
            padding: 0 75px;
        }
        @include xl{
            padding: 0 max(150px, 50% - 670px);
        }
    }
    h1{
        font-weight: 500;
        font-size: 55px;
        line-height: 100%;
        letter-spacing: -0.025em;
        color: #FFFFFF;
        margin-bottom: 31px;
        @include md{
            font-size: 80px;
        }
    }
}
.gridWrapper{
    color: #fff;
}
.gridHead{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 175px 1fr 1fr 110px 35px 190px 188px;
}
.gridBody{
    border-bottom: 1px solid;
}