@import 'src/var';

.questions {
  background-color: $LightPeriwinkle;

  :global {
    .mobile {
      @include lg {
        display: none;
      }
    }

    .tablet {
      display: none;

      @include lg {
        display: block;
        max-width: 650px;
      }
    }

    .cards-wrapper {
      margin-top: 24px;
      @include md {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
      }
      .card-container {
        padding: 20px 12px;
        border-radius: 8px;
        background-color: $White;
        box-shadow: 0 2.41801px 7.73762px rgba(8, 15, 52, 0.06);
        cursor: pointer;
        display: block;
        white-space: normal;
        @include md{
          width: calc(50% - 15px);
        }
        @include lg{
          padding: 30px 17px;
        }
        @include xl{
          padding: 40px 25px;
        }

        &:not(:first-child) {
          margin-top: 12px;
          @include md{
            margin-top: 0;
          }
        }

        &:hover {
          box-shadow: 0 2px 7px rgba(8, 15, 52, 0.3);
        }

        &:focus {
          box-shadow: 0 2px 7px rgba(8, 15, 52, 0.3);
        }
      }
    }
    .card-wrap-title{
      position: relative;
      display: block;
    }
    .card-title {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 700;
      font-family: $fontTitle;
      display: block;
      text-align: start;
      margin-right: 40px;
      @include lg{
        font-size: 21px;
        margin-right: 50px;
      }
      @include xl{
        font-size: 25px;
        margin-right: 75px;
      }
    }

    // Open

    .card-description {
      display: block;
      opacity: 0;
      max-height: 0;
      margin: 0 32px 0 0;
      font-size: 16px;
      line-height: 1.3;
      text-align: left;
      color: $Gray;
      transition: max-height 300ms 100ms, opacity 300ms 100ms, margin-top 300ms 100ms;
      @include md{
        line-height: 1.5;
      }
      @include lg{
        font-size: 18px;
      }
      @include xl{
        font-size: 21px;
      }
    }

    // Close

    .show {
      margin-top: 8px;
      opacity: 1;
      max-height: 1000px;
      animation: 400ms ease-in-out 400ms faq forwards backwards;
      transition: max-height 300ms 100ms, opacity 300ms 100ms, margin-top 300ms 100ms;
      @include lg{
        margin-top: 15px;
      }
    }

    .cube-button {
      min-width: 20px;
      min-height: 20px;
      background-color: $LightPeriwinkle;
      border-radius: 4px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 300ms 100ms;
      @include lg{
        min-width: 30px;
        min-height: 30px;
      }
      @include xl{
        min-width: 40px;
        min-height: 40px;
      }

      img {
        width: 10px;
        @include lg{
          width: 15px;
        }
        @include xl{
          width: 20px;
        }
      }
    }

    .second-column {
      margin-top: 12px;

      @include md {
        margin-top: 0;
      }
    }

    .open {
      background-color: $MediumSeaGreen;
      transition: background-color 300ms 100ms;
    }
  }
}