@import 'src/var';

.questions {
  background-color: $LightPeriwinkle;

  :global {
    .mobile {
      @include lg {
        display: none;
      }
    }

    .tablet {
      display: none;

      @include lg {
        display: block;
        max-width: 650px;
      }
    }

    .cards-wrapper {
      margin-top: 24px;

      .card-container {
        padding: 15px;
        border-radius: 8px;
        background-color: $White;
        box-shadow: 0px 2.41801px 7.73762px rgba(8, 15, 52, 0.06);
        position: relative;
        cursor: pointer;
        display: block;
        white-space: normal;

        &:not(:first-child) {
          margin-top: 12px;
        }

        &:hover {
          box-shadow: 0px 2px 7px rgba(8, 15, 52, 0.3);
        }

        &:focus {
          box-shadow: 0px 2px 7px rgba(8, 15, 52, 0.3);
        }
      }

      @include md {
        display: flex;
        gap: 30px;
      }
    }

    .card-title {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 700;
      font-family: $fontTitle;
      margin-right: 40px;
      display: block;
      text-align: start;
    }

    .card-description {
      display: block;
      opacity: 0;
      max-height: 0;
      margin: 0;
      font-size: 16px;
      margin-right: 32px;
      line-height: 1.25;
      text-align: justify;
      color: $Gray;
      transition: max-height 600ms 100ms , opacity 400ms 100ms, margin-top 600ms 300ms;
    }

    .show {
      margin-top: 8px;
      opacity: 1;
      max-height: 1000px;
      animation: 400ms linear 400ms faq forwards backwards;
      transition: max-height 800ms 200ms , opacity 600ms 300ms , margin-top 600ms 300ms;
    }

    .cube-button {
      min-width: 20px;
      min-height: 20px;
      background-color: $LightPeriwinkle;
      border-radius: 4px;
      position: absolute;
      top: 16px;
      right: 20px;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 10px;
      }
    }

    .second-column {
      margin-top: 12px;

      @include md {
        margin-top: 0;
      }
    }

    .open {
      background-color: $MediumSeaGreen;
    }
  }
}