@import "src/var";
.swipeTo {
  font-size: 15px;
  display: inline-block;
  span{
    width: auto;
    display: flex;
    align-items: center;
  }
  @include md{
    font-size: 25px;
  }
  @include lg{
    font-size: 18px;
  }
  @include xl{
    font-size: 16px;
  }
  img{
    height: 0.9em;
    object-fit: contain;
    margin-right: 5px;
    width: auto;
    @include lg{
      height: 1.4em;
      margin-right: 15px;
    }
  }
}