@import "src/var";
.swipeTo {

  font-size: 15px;
  @include md{
    font-size: 25px;
  }
  @include lg{
    font-size: 18px;
  }
  img{
    height: 0.9em;
    object-fit: contain;
    margin-right: 5px;
  }
}