@import "src/var.scss";
.header{
  background-color: #fff;
  position: fixed;
  z-index: 100;
  height: 80px;
  padding:20px 50px ;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  @include md{
    background-color: transparent;
    grid-template-columns: 15% 1fr  ;
    padding:60px 100px 20px 100px;
    justify-content: center;
    height: auto;
  }
  img{
    object-fit: contain;
  }



     &.scrolled{
       position: fixed;
      padding: 5px 40px;
       height: 60px;
      background-color: #fff;
    }

}
.logo {
  max-width: 100%;
 text-align: center;
  img{
    width: 130px;
    max-width: 100%;

  }
}


.menu{
  position: fixed;
  opacity: 0;
  transition: opacity 0.3s 1.2s , left 0s 1.4s ;
  left: -150%;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  top: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  @include md{
    position: static;
    opacity: 1;
    background-color: transparent;
  }
  :global{
    .nav{
      margin-bottom: 5vh;
      justify-content: flex-start;
        @include md{
          justify-content: space-between;
          margin: 0;
        }
    }
    .nav , .navList {
      flex-grow: 1;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      @include md{
        flex-direction: row;
      }
    }
    .navList{
      padding: 5vh 10px 1vh 10px;
      justify-content: space-around;
      @include md{
        padding:0 5vw  ;
        justify-content: flex-start;
      }

    }
    .menuImg{
      margin-bottom: 5vh;
      img{
        max-height: 100%;
        object-fit: contain;
        height: 255px;
        width: 300px;
      }

    }
  }

}
.messengers{
  display: flex;
  justify-content: center;
  @media (max-width:$md){
    width: 100%;
  margin-bottom: 5px;
  height: 40px;
  flex-grow: 0;
  li{
      margin:0 20px;
      transition:0.3s;
      pointer-events: none;
      opacity: 0;
      &:nth-child(odd){
        transform:translate(-110vw);
      }
      &:nth-child(even){
        transform:translate(110vw);
      }
    }
  }
@include md{
  li{
    flex-shrink: 0;
    margin-right: 10px;
  }
  a{
    height: 24px;
    width: 35px;
    display: block;
    padding: 0 5px;
  }
}
  @include lg{
    a{
      height: 35px;
      width: 45px;
    }

  }
}

.header.open{
  background-color: #fff;

    .menu{
      opacity: 1;
      left: 0;
      transition: all 0.3s 0s   ;
    }
  .messengers{
    li{
      transform:translate(0);
      pointer-events: all;
      opacity: 1;
    }
  }
  :global{
    .navItemAnimation{
      opacity: 1;
      pointer-events: all;
      transform:translate(0);
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.6);
  &:hover{
    background: rgba(241, 241, 241, 1);
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $LimeGreen;
  &:hover{
    background-color: $Lime;
  }
}

