@import "src/var.scss";

.header {
  transition: translate 0.1s 0s, opacity 0.3s 1.2s, left 0s 1.4s , background 1s 1.2s;

  position: fixed;
  z-index: 100;
  height: 80px;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 135px 1fr;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  @include md {
    padding: 35px 63px;
  }
  @include lg {
    background-color: transparent;
    grid-template-columns: 160px 1fr;
    padding: 45px 100px 30px  75px;
    justify-content: center;
    height: auto;
    position: absolute;
    transition: 0.1s;
  }
  @include xl{

    padding:  45px max(150px , calc( 50% - 670px ));
    grid-template-columns: 190px 1fr;
  }

  img {
    object-fit: contain;
  }

  &.scrolled {
    position: fixed;
    padding: 5px 40px;
    height: 60px;
    background-color: #fff;
    transition:background 0.1s ;
    @include lg {

      background-color: rgba(255, 255, 255, 0.98);

    }
  }

}

.logo {
  a {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
  }

  img {
    width: 130px;
    max-width: 100%;
    @include md {
      width: 140px;
    }
    @include xl{
      width: 180px;
    }
  }
}


.menu {
  transition: inherit;
  position: fixed;
  opacity: 0;
  left: -150%;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  top: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  @include lg {
    position: static;
    opacity: 1;
    background-color: transparent;
  }

  :global {

    .nav {
      margin-bottom: 2vh;
      width: 100%;
      @include lg {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
      }
    }

    .navList {
      padding: 4vh 10px 1vh 10px;
      @include lg {
        display: flex;
        padding: 0 3vw;
        justify-content: flex-start;
      }

    }

    .menuImg {
      margin-bottom: 4vh;
      flex-grow: 1;
      height: 100px;
      width: 100%;
      max-width: 450px;
      max-height: 300px;
      @include lg{
        display: none;
      }
      img {
        object-position: 50% 50%;
        object-fit: contain;
      }
    }
  }
}

.header.open {
  background-color: #fff;
  transition: all 0.3s 0s;

  .menu {
    opacity: 1;
    left: 0;
    transition: inherit;
  }

  .messengers {
    li {
      transform: translate(0);
      pointer-events: all;
      opacity: 1;
    }
  }

  :global {
    .navItemAnimation {
      opacity: 1;
      pointer-events: all;
      transform: translate(0);
    }
    .langItem.langItem{
      transform: translate(0)  ;
      pointer-events: all;
      opacity: 1;
    }

    .messengers {
      li {
        transform: translate(0);
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}

