@import "src/var";

.wrapper {
  .btn {
    position: fixed;
    top: 50vh;
    left: 16px;
    transform: rotate(-90deg) translateY(50%);
    transform-origin: 0;
    padding: 10px;
    z-index: 50;
  }

  .modal {
    background: $GrayBlue;
    position: fixed;
    z-index: 3;
    top: 41vh;
    left: 84px;
    border-radius: 8px;
    width: 100%;
    max-width: 275px;
    padding: 20px 15px;
    transform: translateY(-50%);
    @include md {
      max-width: 547px;
      padding: 20px 40px;
    }

    p {
      font-size: 13px;
      color: $DarkGray;
      margin-bottom: 25px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    h3 {
      color: $White;
      font-size: 16px;
      font-family: $fontText;
    }
  }

  .form {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    input,
    textarea {
      // исправлю на отдельный компонент, пока тут побудет
      background: none;
      border: none;
      width: 100%;
      color: $White;
      padding: 20px 10px 10px;
      position: relative;
      z-index: 1;
      font-size: 11px;
      @include md {
        font-size: 14px;
      }

      &::-webkit-input-placeholder,
      &::-moz-placeholder {
        color: $DarkGray;
      }

      &:focus {
        background: none;
        outline: transparent;
        border: 0;
        &::-webkit-input-placeholder {
          color: transparent;
        }
        &::-moz-placeholder {
          color: transparent;
        }
        & + fieldset {
          border: 1px solid $MediumSeaGreen;
          top: -10px;

          legend {
            font-size: 10px;
          }
        }
      }
    }

    .field {
      position: relative;
      margin-bottom: 15px;
      width: 100%;
      @include md {
        margin-bottom: 30px;
      }

      fieldset {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 10px;
        border: 0;
        border-bottom: 1px solid $MediumSeaGreen;
        transition: none;
      }

      legend {
        transition: 0.3s ease-in-out;
        font-size: 0;
        color: $White;
      }
    }

    textarea {
      resize: none;
    }

    p {
      color: $White;
      font-size: 16px;
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include md {
      justify-content: start;
    }
  }

  :global {
    .messengers {
      margin: 0 0 15px;
      @include md{
        margin: 0;
      }

      li {
        opacity: 1;
        transform: none;
      }
    }

    .button, .reset {
      margin: 0 5px;
      @media (max-width: $md) {
        font-size: 10px;
        min-width: 115px;

      }
    }
  }
}
