@import 'src/var';

.worksSwiper {
  margin-top: 32px;
  width: 275px;
  margin: 0 auto;
  margin-top: 24px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  height: 100%;

  @include sm {
    width: 100%;
  }

  @include md {
    max-width: 600px;
  }

  @include lg {
    min-height: 100%;
    max-width: 600px;
  }

  @include xl {
    max-width: 900px;
  }

  :global {
    .swiper {
      width: 100%;
      height: 100%;
      overflow: visible;
    }
  }
}