@import 'src/var';

.worksSwiper {
  margin-top: 32px;
  width: 275px;
  padding-top: 25px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  
  @include md {
    width: 628px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 25px;
    height: 350px;
  }

  @include lg {
    width: 635px;
    height: 340px;
    margin-top: 0;
  }

  @include xl {
    height: 400px;
    width: 986px;
  }

  :global {
      .swiper {
        margin: 0 auto;
        margin-top: 2px;
        width: 375px;
        overflow: visible;
        margin-left: 30px;
        
        @include md {
          width: 628px;
          margin-left: 11px;
        }

        @include xl {
          width: 986px;
        }
      }
  }
}