@import "src/var";

$bgColor: #1e1e1e;
$borderColor: rgba(255, 255, 255, 0.1);
$categoryBg: rgba(217, 217, 217, 0.5);
$pictureBg: rgba(255, 255, 255, 0.1);
$secondFontColor: #8f8f8f;


.singlePortfolio {
  padding-top: 115px;
  background-color: $bgColor;
  position: relative;
  color: $White;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  padding-bottom: 100px;
  @include md {
    margin-top: 76px;
    padding-top: 0;
    font-size: 24px;
    line-height: 36px;
  }
  @include xl {
    padding-bottom: 150px;
  }
  h1 {
    color: white;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    padding-top: 17px;
    @include md {
      font-weight: 700;
      padding-top: 0;
      font-size: 80px;
      line-height: 100px;
    }
  }
  .lists {
    ul {
      padding-left: 20px;
      list-style: disc;
    }
  }
  .wrap {
    border-bottom: 1px solid $borderColor;
    padding: 21px 0;
    position: relative;
    z-index: 1;
    @include lg {
      padding: 50px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
  .left {
    width: 100%;
    @include lg {
      width: 50%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .block {
        width: 100%;
      }
    }
  }
  .right {
    width: 100%;
    @include lg {
      width: 50%;
      max-width: 470px;
      margin-left: auto;
      padding-left: 80px;
    }
  }
  .siteLink {
    width: 100%;
  }
  .category {
    display: flex;
    align-items: flex-start;
    li {
      margin-right: 10px;
      padding: 3px 13px;
      background: $categoryBg;
      border-radius: 20.5px;
      color: $White;
    }
  }
  .mainInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include lg {
      padding-right: 130px;
    }
  }
  .textInfo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include md {
      padding-right: 50px;
      flex: 1;
      max-width: 643px;
    }
  }
  .siteUrl {
    word-break: break-all;
  }
  .modified {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  :global {
    .container {
      max-width: 1341px;
      position: relative;
      z-index: 1;
      @include xxl {
        padding: 0;
      }
    }

    .button__wrap {
      text-align: center;
      a {
        width: 100%;
      }
      @include md {
        a {
          width: auto;
        }
      }
      @include lg {
        text-align: left;
      }
    }
    a.button {
      display: inline-block;
      margin-bottom: 30px;
      font-size: 18px;
      width: 100%;
      @include md {
        width: auto;
      }
      @include lg {
        margin-bottom: 0;
      }
    }

    .subtitle {
      font-weight: 400;
      margin-right: 5px;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
      & + * {
        margin-bottom: 10px;
      }
      @include md {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 36px;
      }
      @include lg {
        margin-bottom: 20px;
        margin-right: 10px;
        & + * {
          margin-bottom: 20px;
        }
      }
    }

    .block {
      margin-bottom: 25px;
      width: 100%;
      @include md {
        margin-bottom: 10px;
      }
      p,
      ul,
      & > div {
        color: #8f8f8f;
        word-break: break-word;
      }
    }

    picture {
      background: $pictureBg;
      display: block;
      text-align: center;
      font-size: 0;
    }
  }
}
.mobileWrapp {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 210px;
  height: 410px;
  padding: 11px 14px 12px;
  @include md {
    margin: 0;
  }
  @include xl {
    width: 385px;
    height: 754px;
    padding: 22px 28px 23px;
  }
}
.mobileDevice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.mobileImg {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 19px 20px;
  position: relative;
  overflow-y: auto;
  z-index: 1;
  &::-webkit-scrollbar {
    display: none;
  }
  @include xl {
    border-radius: 34px 36px 30px 33px;
  }
}
.scroll {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.025em;
  margin-bottom: 50px;
  max-width: 230px;
  justify-content: center;
  span {
    color: #737373;
    text-align: center;
  }
  &:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2L12 9' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 5L12 2L15 5' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 22L12 15' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 19L12 22L15 19' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 15L6 15C4.34315 15 3 13.6569 3 12C3 10.3432 4.34314 9 6 9L21 9' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin-right: 16px;
  }
}
.onlyDesc{
  display: none;
  @include md{
    display: block;
  }
}
.aboutProject{
  font-weight: 400;
  color: $secondFontColor;
  padding: 50px 0;
  p{
    margin-bottom: 20px;
    &:last-child{
      margin: 0;
    }
  }
  :global{
    h3{
      font-size: 20px;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 20px;
      @include lg{
        font-size: 24px;
        margin-bottom: 30px;
      }
    }
  }
}
.aboutItem{
  margin-bottom: 30px;
  &:last-child{
    @include lg{
      margin: 0;
    }
  }
}
.flex{
  @include lg{
    display: flex;
    gap: 45px;
  }
}
.wrapAboutDesc{
  @include lg{
    width: 55%;
  }
}
.lastItem{
  margin: 0;
  @include lg{
    width: 45%;
  }
}