@import 'src/var';

.tools {
  position: relative;
  background-color: $White;

  :global {
    .yCircle {
      position: absolute;
      top: 35px;
      bottom: 561px;
      left: 80%;

      @include lg {
        display: none;
      }
    }

    .container-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto, auto, 40px;
      grid-template-areas:
        'title-container title-container'
        'vertical-block vertical-block'
        'buttons-block buttons-block';

      @include sm {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto, auto, 40px;
        grid-template-areas:
        'title-container .'
        'vertical-block vertical-block'
        'buttons-block buttons-block';
      }

      @include lg {
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto, 40px;
        column-gap: 30px;
        grid-template-areas:
          'title-container vertical-block'
          '. buttons-block';
      }

      @include xl {
        grid-template-columns: 400px 1fr;
      }
    }

    .title-container {
      grid-area: title-container;
    }

    .vertical-block {
      grid-area: vertical-block;
      padding-bottom: 20px;
      margin-top: 44px;
      overflow: hidden;

      @include md {
        margin-top: 71px;
      }

      @include lg {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 520px;
      }
    }

    .buttons-block {
      grid-area: buttons-block;
    }

    .title-content {
      margin-top: 10px;
    }

    .description {
      margin-top: 15px;

      @include md {
        font-size: 19px;
      }
    }

    .swiperTips {
      margin-top: 14px;
      color: $Gray;
    }

    .button {
      margin-top: 13px;

      @include md {
        min-width: 100%;
      }
    }
  }
}
.toolsWrap {
  :global {
    .modal {
      left: 45px;
      transform: translateY(-100%);
      top: 0;
      @include md {
        left: 84px;
      }
      @include xxl {
        left: calc((50% - 1720px / 2) + 84px);
      }
      &.open {
        top: 120px;
        transform: translateY(0);
      }
    }
  }
}