@import "src/var";

.tools {
  position: relative;
  background-color: $White;

  :global {
    .yCircle {
      position: absolute;
      top: 35px;
      bottom: 561px;
      left: 80%;

      @include lg {
        display: none;
      }
    }

    .container-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "title-container title-container"
        "vertical-block vertical-block"
        "buttons-block buttons-block";

      @include sm {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "title-container ."
          "vertical-block vertical-block"
          "buttons-block buttons-block";
      }

      @include lg {
        grid-template-columns: 255px 1fr;
        grid-template-rows: auto auto;
        column-gap: 30px;
        grid-template-areas:
          "title-container vertical-block"
          ". buttons-block";
      }

      @include xl {
        grid-template-columns: 400px 1fr;
      }
    }

    .title-container {
      grid-area: title-container;
    }

    .vertical-block {
      grid-area: vertical-block;
      margin: 44px auto 0;
      overflow: hidden;

      @include sm {
        width: 436px;
      }
      @include md {
        width: 628px;
        margin-top: 71px;
        .swiper-slide{
          cursor: default;
        }
      }
      @include lg {
        width: 100%;
        max-width: 810px;
        margin-top: 0;

        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      @include xxl {
        max-width: none;
      }
      .pagination-wrapper {
        padding-left: 15px;
        @include md{
          display: none;
        }
        @include xxl {
          padding-left: 19px;
        }
      }
    }

    .buttons-block {
      grid-area: buttons-block;

      @include md {
        display: none;
      }
    }

    .title-content {
      .title {
        margin-top: 10px;

        @include md {
          margin-top: 22px;
        }

        @include xxl {
          margin-top: 28px;
        }
      }
    }

    .description {
      margin-top: 15px;

      @include md {
        font-size: 19px;
      }
    }

    .swiperTips {
      padding-top: 40px;
      color: $Gray;
    }

    .button {
      margin-top: 13px;

      @include md {
        min-width: 100%;
        margin-top: 24px;
      }

      @include lg {
        margin-top: 18px;
      }

      @include xxl {
        margin-top: 28px;
      }
    }
  }
}
