@import 'src/var';

.tools {
  padding: 34px 0;
  position: relative;

  background-color: $White;

  @media (min-width: $lg) {
    padding: 45px 0;
  }

  :global {
    .yCircle {
      width: 400px;
      position: absolute;
      right: -320px;
      top: 35px;

      @media (min-width: $lg) {
        display: none;
      }
    }

    // Preview
    .subtitle {
      font-family: $fontTitle;
      font-size: 21px;
      font-weight: 700;
      letter-spacing: -0.025em;

      color: $MediumSeaGreen;

      @media (min-width: $lg) {
        font-size: 16px;
      }
    }

    .title {
      margin-top: 10px;
    }

    .description {
      margin-top: 15px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;

      color: $Gray;

      @media (min-width: $lg) {
        font-size: 17px;
      }
    }

    .button {
      margin-top: 13px;
    }

    .swiperTips {
      margin-top: 14px;
      color: $Gray;
    }

    // Position when we have tablet

    .tabletContainer {
      z-index: 1;

      @media (min-width: $lg) {
        display: flex;
        gap: 31px;
      }
    }

    .verticalBlock {
      @media (min-width: $lg) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
      }
    }

    .element {
      margin: 20px;
    }

    .overlay {
      z-index: 2;
      position: relative;
    }

    // Swiper

    .swiper {
      overflow: visible;
    }

    .mySwiper {
      // width: 275px;
      margin: 0 auto;
      margin-top: 27px;
    }

    // Reseter 

    .lgContainer {
      @media (min-width: $lg) {
        padding: 0 70px;
      }
    }

    .container {
      @media (min-width: $lg) {
        padding: 0px;
      }
    }

    .buttonsBlock {
      margin-top: 16px;
    }
  }
}