@import "src/var";

$colorAccent: $Lime;
$borderColor: #6a6a6a;
$colorGrey: #10be43;
$lightBorder: rgba(106, 106, 106, 0.7);

.cv {
  padding: 150px 0 80px;
  position: relative;
  font-size: clamp(16px, 10vw - 80px, 20px);
  background-color: #1E1E1E;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 115.89%);
  backdrop-filter: blur(225px);
  overflow: hidden;
  color: $White;
  @include lg {
    padding: 200px 0;
  }
  .logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  :global {
    .noise{
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }
    .container{
      position: relative;
      z-index: 1;
    }
    .button__chat {
      position: fixed;
      bottom: 25%;
      right: 5px;
      max-width: 75px;
      min-width: 0;
      padding: 10px;
      border-radius: 50%;
      z-index: 1;
      @include lg {
        padding: 15px;
        right: 15px;
      }
      @include xxl {
        right: calc((50% - 1720px / 2) + 85px);
      }

      img {
        max-width: 35px;
        @include lg {
          max-width: 40px;
        }
      }
    }
  }
}

.wrapCvButton {
  position: relative;
  margin: 50px auto 0;
  max-width: 188px;
  @include lg {
    margin: 100px auto 0;
  }
}

.loader {
  position: absolute;
  background-color: #13cc00;
  border-radius: 5px;

  img {
    height: 50px;
    width: 50px;
  }
}
