@import "src/var";

.whatWeDo {
  background-color: $GrayBlue;
  color: $White;
  position: relative;

  :global {
    .gCircle {
      width: 100px;
      position: absolute;

      &.bottom {
        width: 52px;
        left: 10%;
        top: 139px;

        @include md {
          top: 150px;
          left: 200px;
        }

        @include xl {
          left: 250px;
        }

        @include xxl {
          left: 30%;
        }
      }
    }

    // Text description

    .description {
      opacity: 0.5;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 26px;

      @include xl {
        max-width: 100%;
        font-size: 21px;
        font-weight: 400;
      }
    }

    .subtitle {
      font-size: 17px;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: -0.045em;
      color: $White;

      @include md {
        line-height: 1.4;
        margin-top: 0;
      }

      @include xl {
        font-size: 24px;
        max-width: 100%;
      }
    }

    // List of options

    .list-descriptions {
      font-size: 16px;
      font-weight: 300;
      margin-top: 34px;
      margin-bottom: 30px;
      letter-spacing: -0.025em;
      opacity: 0.5;
      padding-left: 10px;


      @include md {
        font-size: 16px;
        line-height: 1.56;
      }

      @include xl {
        font-size: 21px;
        line-height: 1.52;
      }
      li{
        margin-bottom: 10px;
        padding-left: 5px;
        &::marker{
          content: "-";
        }
        @include sm{
          margin-bottom: 0;
        }
      }
    }

    // Grid

    .grid {
      display: grid;
      grid-template-rows: 1fr 108px 1fr 40px;
      grid-template-columns: 50% 50%;

      grid-template-areas:
        "description-grid description-grid"
        "pagination pagination"
        "work-list work-list"
        "footer footer";

      @include md {
        grid-template-rows: 1fr 1fr 40px;
        grid-template-columns: 50% 50%;
        grid-template-areas:
          "description-grid ."
          "pagination work-list"
          "footer .";
      }
    }

    .description-grid {
      grid-area: description-grid;
      @include md{
        padding-bottom: 50px;
      }
    }

    // Link to consultation

    .horizontal-line {
      width: 30px;
      height: 1px;
      background-color: $White;
    }

    .pagination {
      grid-area: pagination;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      @include md {
        flex-direction: row;
        padding-right: 50px;
      }
    }

    .work-list {
      grid-area: work-list;
      position: relative;
      margin-top: 16px;

      @include md {
        margin-top: 0;
      }
    }

    .footer {
      grid-area: footer;

      @include md {
        display: flex;
        justify-content: flex-end;
        margin-right: -50px;
      }
    }

    // Divider line

    .dividerLine {
      display: none;

      @include md {
        display: block;
      }

      height: 1px;
      background-color: $MediumSeaGreen;
      width: 200%;
      position: absolute;
      top: -38px;
      left: 0;
    }

    .button {
      min-width: 158px;
      margin-right: 15px;
    }
  }
}
