@import 'src/var';

.whatWeDo {
  padding: 34px 0;
  background-image: url("./linear_background_gradient.png");
  background-color: #292930;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $White;
  min-height: 830px;
  position: relative;

  @media (min-width: $md) {
    padding: 45px 0;
    min-height: 774px;
  }

  @media (min-width: $xl) {
    padding: 87px 0;
    min-height: 911px;
  }

  :global {
    .gCircle {
      border-radius: 50%;
      aspect-ratio: 1;
      position: absolute;
      left: -19px;
      top: -8px;
      height: 100px;
      background-color: #3D3D48;
      opacity: 0.5;

      &.bottom {
        height: 52px;
        left: -10px;
        top: 100px;
        background-color: #31313A;

        @media (min-width: $md) {
          top: 100px;
          left: 150px;
        }
      }
    }

    .h2 {
      letter-spacing: -0.025em;

      @media (min-width: $xl) {
        font-size: 80px;
      }
    }

    .overlay {
      position: relative;
      z-index: 2;
    }

    .description {
      opacity: 0.5;
      font-size: 16px;
      font-weight: 300;
      margin-top: 21px;
      text-align: justify;

      @media (min-width: $md) {
        font-size: 15px;
      }

      @media (min-width: $xl) {
        max-width: 100%;
        font-size: 21px;
        font-weight: 400;
      }
    }

    // Controlls button

    .controllWrapper {
      display: flex;
      bottom: -162px;
      z-index: 10;
      gap: 17px;

      @media (min-width: $md) {
        left: 155px;
        bottom: 28px;
      }
    }

    .fillButton {
      background-color: $MediumSeaGreen;
      border: none;

      &:hover {
        background-color: $LimeGreen;
      }
    }

    .subtitle {
      font-size: 13px;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: -0.045em;
      color: $White;

      @media (min-width: $md) {
        font-size: 17px;
        line-height: 1.4;
        margin-top: 0;
      }

      @media (min-width: $xl) {
        font-size: 24px;
        max-width: 100%;
      }
    }

    .horizontalLine {
      content: '';
      width: 39px;
      height: 1px;
      background-color: $White;
    }

    // List of options

    .listDescriptions {
      font-size: 13px;
      font-weight: 300;
      line-height: 1.29;
      margin-top: 34px;
      letter-spacing: -0.025em;
      opacity: 0.5;

      @media (min-width: $md) {
        font-size: 15px;
        line-height: 1.56;
      }

      @media (min-width: $xl) {
        line-height: 1.52;
      }

      @media (min-width: $xl) {
        font-size: 21px;
      }
    }

    // Link to consultation

    .infoLink {
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      position: relative;
      display: inline-block;
      color: $White;
      opacity: 0.5;

      &:hover {
        opacity: 0.8;
      }

      &::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: -40px;
        width: 25px;
        height: 1px;
        background-color: $White;
        opacity: 0.5;
      }

      @media (min-width: $xl) {
        font-size: 19px;
      }
    }

    // Flex column 

    .flex {
      position: relative;

      @media (min-width: $md) {
        display: flex;
        gap: 30px;
      }

      .upperBlock {
        height: 100%;

        @media (min-width: $md) {
          width: 50%;
        }
      }
    }

    .bottomBlock {
      position: relative;
      margin-top: 16px;

      @media (min-width: $md) {
        margin-top: calc(33%);
        width: 50%;
        padding-bottom: 40px;
      }
    }

    // Button ask questions

    .button {
      margin-top: 60px;
      font-size: 13px;
      display: none;
      top: 50%;
      left: 0;
      z-index: 10;

      @media (min-width: $md) {
        display: block;
      }

      @media (min-width: $xl) {
        font-size: 17px;
      }
    }

    // Divider line

    .dividerLine {
      @media (max-width: $md) {
        display: none;
      }

      height: 1px;
      background-color: $MediumSeaGreen;
      width: 200%;
      position: absolute;
      top: -12px;
      left: 0;
    }

    // Pagination

    .paginationWrapper {
      font-size: 13px;
      font-weight: 500;
      line-height: 1.3;
      display: flex;
      align-items: center;
      gap: 30px;
      margin-top: 50px;

      @media (min-width: $md) {
       margin-top: 0;
      }

      @media (min-width: $xl) {
        font-size: 16px;
      }
    }

    .pagination {
      color: $White;

      &.active {
        opacity: 0.5;
      }
    }

    .pagination-button-wrapper {
      @media (min-width: $md) {
        display: flex;
        justify-content: space-between;;
       }
    }

    // Buttons container 
    .footerButtons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 48px;

      @media (min-width: $md) {
        justify-content: center;
        gap: 60px;
        left: calc(50% - 140px);
        bottom: 40px;
      }

      @media (min-width: $xl) {
        gap: 100px;
        bottom: 87px;
      }
    }


    // Swiper 
    .swiper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      position: static;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
      height: 100%;
      width: 100%;
    }

    .mySwiper {
      height: 100%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .mySwiper .swiper-slide {
      width: 25%;
      height: 95%;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}