@import 'src/var';

.whatWeDo {
  background-image: url("./line_background_grid.png");
  background-color: $GrayBlue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $White;
  position: relative;

  :global {
    .gCircle {
      width: 100px;
      position: absolute;

      &.bottom {
        width: 52px;
        left: 10%;
        top: 139px;

        @include md {
          top: 150px;
          left: 200px;
        }

        @include xl {
          left: 250px;
        }

        @include xxl {
          left: 30%;
        }
      }
    }

    // Text description

    .description {
      opacity: 0.5;
      font-size: 16px;
      font-weight: 300;
      margin-top: 21px;
      margin-bottom: 26px;
      text-align: justify;

      @include xl {
        max-width: 100%;
        font-size: 21px;
        font-weight: 400;
      }
    }

    .subtitle {
      font-size: 13px;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: -0.045em;
      color: $White;

      @include md {
        font-size: 17px;
        line-height: 1.4;
        margin-top: 0;
      }

      @include xl {
        font-size: 24px;
        max-width: 100%;
      }
    }

    // List of options

    .list-descriptions {
      font-size: 13px;
      font-weight: 300;
      line-height: 1.29;
      margin-top: 34px;
      letter-spacing: -0.025em;
      opacity: 0.5;

      @include md {
        font-size: 15px;
        line-height: 1.56;
      }

      @include xl {
        font-size: 21px;
        line-height: 1.52;
      }
    }

    // Link to consultation

    .info-link {
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      position: relative;
      display: inline-block;
      color: $White;
      opacity: 0.5;

      &:hover {
        opacity: 0.8;
      }

      &::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: -40px;
        width: 25px;
        height: 1px;
        background-color: $White;
        opacity: 0.5;
      }

      @media (min-width: $xl) {
        font-size: 19px;
      }
    }

    // Grid

    .grid {
      display: grid;
      grid-template-rows: 1fr 108px 1fr 40px;
      grid-template-columns: 100%;

      grid-template-areas:
        "description-grid"
        "pagination"
        "work-list"
        "footer";

      @include md {
        grid-template-rows: 1fr 1fr 40px;
        grid-template-columns: 50% 50%;
        grid-template-areas:
          "description-grid ."
          "pagination work-list"
          "footer footer";
      }
    }

    .description-grid {
      grid-area: description-grid;
    }

    .pagination {
      grid-area: pagination;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      @include md {
        flex-direction: row;
        padding-right: 20px;
      }
    }

    .work-list {
      grid-area: work-list;
      position: relative;
      margin-top: 16px;

      @include md {
        margin-top: 0;
      }
    }

    .footer {
      grid-area: footer;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include md {
        justify-content: space-around;
      }
    }

    // Divider line

    .dividerLine {
      display: none;

      @include md {
        display: block;
      }

      height: 1px;
      background-color: $MediumSeaGreen;
      width: 200%;
      position: absolute;
      top: -38px;
      left: 0;
    }

    .button {
      min-width: 158px;
    }
  }
}