@import 'src/var';

.teamSwiper {
  width: 275px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  height: calc(100% + 100px);

  @include md {
    width: 628px;
  }

  @include lg {
    width: 824px;
  }

  @include xl {
    width: 950px;
  }

  :global {
    .swiper {
      width: 100%;
      overflow: visible;

      @include sm {
        width: 100%;
      }
    }

    .swiper-slide {
      width: 275px;
      padding: 0 20px;

      @include md {
        width: 210px;
        padding: 0 10px;
      }

      @include lg {
        width: 275px;
      }

      @include xl {
        width: 318px;
      }
    }
  }
}