@import 'src/var';

.teamSwiper {
  width: 275px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  height: calc(100% + 100px);
  padding-left: 10px;
  padding-right: 10px;

  @include sm {
    width: 100%;
  }

  :global {
    .swiper {
      width: 100%;
      overflow: visible;

      @include sm {
        width: 100%;
        overflow: hidden;
      }

      @include xl {
        margin: 0 112px;
      }
    }

    .swiper-slide {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}