@import 'src/var';

.cardsSwiper {
  overflow: visible;
  height: 100%;
  width: 275px;
  margin: 0 auto;
  margin-top: 24px;

  @include md {
    width: 628px;
  }

  @include lg {
    width: 824px;
  }

  @include xl {
    width: 950px;
  }

  :global {
    .swiper {
      width: 100%;
      overflow: hidden;
      height: 365px;

      @include md {
        width: 100%;
      }
    }

    .swiper-slide {
      width: 275px;
      padding: 0 10px;

      @include md {
        width: 210px;
        padding: 0 10px;
      }

      @include lg {
        width: 275px;
      }

      @include xl {
        width: 318px;
      }
    }
  }
}