@import 'src/var';

.cardsSwiper {
  overflow: visible;
  height: 100%;
  width: 275px;
  margin: 24px auto 0;
  display: flex;

  @include md {
    width: 628px;
  }

  @include lg {
    width: 824px;
  }

  @include xl {
    width: 1200px;
  }

  :global {
    .swiper {
      width: 100%;
      overflow: hidden;
      @include md {
        width: 100%;
      }
    }

    .swiper-slide {
      width: 275px;
      padding: 0 10px;

      @include md {
        width: 210px;
        padding: 0 12px;
      }

      @include lg {
        width: 275px;
        padding: 0 16px;
      }

      @include xl {
        width: 318px;
        padding: 0 22px;
      }
    }
  }
}