@import 'src/var';

.cardsSwiper {
  overflow: visible;

  :global {
    .mySwiper {
      margin: 0 auto;
      margin-top: 24px;
      overflow: hidden;
      height: 365px;
      max-width: 275px;

      @include md {
        max-width: 628px;
        margin-top: 57px;
      }

      @include lg {
        max-width: 824px;
      }
    }
  }
}