@import "var";


body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-family: $fontText;

}

h1,
h2,
h3 {
  font-family: $fontTitle;
  margin: 0;
}

p {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

header,
footer {
  flex-grow: 0;
}

.main {
  transition: 0.2s;
  flex-grow: 1;

}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1528px;

  @include sm {
    padding: 0 70px;
  }

  @include xl {
    padding: 0 100px;
  }
}



ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.md-only {
  @media (max-width: $md) {
    display: none !important;
  }
}
.lg-only {
  @media (max-width: $lg) {
    display: none !important;
  }
}

.sm-only {
  @include md {
    display: none !important;
  }
}

h1 {
  font-size: clamp(40px , calc(20vw - 20px )  , 70px);
  line-height: 1;
  @include md {
    font-size: 100px;
  }

  @include xl {
    font-size: 142px;
  }
}

  h2 {
    font-size: 83px;
    line-height: 1;

    @include md {
      font-size: 80px;
    }

    @include lg {
      font-size: 60px;
    }

    @include xl {
      font-size: 80px;
    }
  }

  .noise {
    background-image: url("./images/noise.png");
    background-blend-mode: overlay;
    mix-blend-mode: overlay;
  }
    button {
      background-color: transparent;
      border: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0;
      white-space: nowrap;
    }
  .button {
    justify-content: center;
    align-items: center;
    display: flex;
    padding:20px 10px;
    background: $Lime;
    border-radius: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    transition: .2s;
    min-width: 204px;

    &:hover {
      box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.49);
    }

    &:active {
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.49);
    }

    @include lg {
      font-size: 18px;
      padding: 29px  ;
    }

    color: $White;
  }
  .nowrap{
    white-space: nowrap;
  }