@import "var";
@import "fonts";
@import "layout";
@import "form";
@import "crisp";
@import "buttons";

/* width */
body::-webkit-scrollbar {
  width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.6);

  &:hover {
    background: rgba(241, 241, 241, 1);
  }
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: $LimeGreen;

  &:hover {
    background-color: $Lime;
  }
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-family: $fontText;
}

h1,
h2,
h3 {
  font-family: $fontTitle;
  margin: 0;
}

p {
  margin: 0;
}

.ua-font * {
  font-family: $uaFontText !important;
  letter-spacing: -0.3px;
  h1{
    letter-spacing: -3px;
  }
}
header,
footer {
  flex-grow: 0;
}

.main {
  transition: 0.2s;
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1528px;

  @include sm {
    padding: 0 70px;
  }

  @include lg {
    padding: 0 100px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.md-only {
  @media (max-width: $md) {
    display: none !important;
  }
}

.lg-only {
  @media (max-width: $lg) {
    display: none !important;
  }
}

.lg-end {
  @include lg {
    display: none !important;
  }
}

.sm-only {
  @include md {
    display: none !important;
  }
}

h1 {
  font-size: clamp(40px, calc(20vw - 20px), 70px);
  line-height: 1;
  @include md {
    font-size: 100px;
  }

  @include xl {
    line-height: 0.9;
    letter-spacing: -3px;
    font-size: 142px;
  }
}

h2 {
  font-size: 60px;
  line-height: 1;

  @include md {
    font-size: 80px;
  }

  @include lg {
    font-size: 60px;
  }

  @include xl {
    font-size: 80px;
  }
}

.noise {
  background-image: url("./images/noise.png");
  background-blend-mode: overlay;
  mix-blend-mode: overlay;
}

.nowrap {
  white-space: nowrap;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: $LimeGreen;
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}