@import "var";

/* width */
body::-webkit-scrollbar {
  width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.6);

  &:hover {
    background: rgba(241, 241, 241, 1);
  }
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: $LimeGreen;

  &:hover {
    background-color: $Lime;
  }
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-family: $fontText;
}

body {
  .crisp-client .cc-52lo .cc-1s3d,
  .crisp-client .cc-52lo .cc-1801:before,
  .crisp-client .cc-52lo .cc-1801:after {
    background-color: #13cc00 !important;
  }

  .crisp-client
    .cc-52lo[data-full-view="true"][data-last-operator-face="false"]
    .cc-kegp
    .cc-1oun
    .cc-1qth
    .cc-lgzk
    .cc-3ycs[data-is-ongoing="false"],
  .crisp-client
    .cc-52lo[data-last-operator-face="false"]
    .cc-kegp
    .cc-1oun
    .cc-1qth
    .cc-lgzk
    .cc-3ycs[data-is-ongoing="false"] {
    background-image: url("images/chat-white.png") !important;
    width: 20.5px !important;
    height: 20.5px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    @include lg {
      width: 40px !important;
      height: 40px !important;
    }
  }
  .crisp-client .cc-52lo[data-full-view="true"] .cc-kegp .cc-1oun,
  .crisp-client .cc-52lo .cc-kegp .cc-1oun {
    bottom: 151px !important;
    right: 6px !important;
  }
  .crisp-client .cc-52lo .cc-kegp .cc-1oun .cc-1qth,
  .crisp-client .cc-52lo[data-full-view="true"] .cc-kegp .cc-1oun .cc-1qth {
    width: 38px !important;
    height: 38px !important;
    @include lg {
      width: 74px !important;
      height: 74px !important;
    }
  }
}

h1,
h2,
h3 {
  font-family: $fontTitle;
  margin: 0;
}

p {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: $White;
  &.projects {
    header {
      height: auto;
      padding-top: 40px;
      padding-bottom: 40px;
      transition: padding 0.2s;
      &.scrolled {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #1e1e1e;
        @include md {
          background-color: #fff;
        }
      }
      @include md {
        height: 76px;
        padding-top: 16px;
        padding-bottom: 26px;
      }
      .burger {
        span {
          background-color: #fff;
          @include md {
            background-color: #27272e;
          }
        }
      }
    }
  }
}

header,
footer {
  flex-grow: 0;
}

.main {
  transition: 0.2s;
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1528px;

  @include sm {
    padding: 0 70px;
  }

  @include lg {
    padding: 0 100px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.md-only {
  @media (max-width: $md) {
    display: none !important;
  }
}

.lg-only {
  @media (max-width: $lg) {
    display: none !important;
  }
}

.lg-end {
  @include lg {
    display: none !important;
  }
}

.sm-only {
  @include md {
    display: none !important;
  }
}

h1 {
  font-size: clamp(40px, calc(20vw - 20px), 70px);
  line-height: 1;
  @include md {
    font-size: 100px;
  }

  @include xl {
    line-height: 0.9;
    letter-spacing: -3px;
    font-size: 142px;
  }
}

h2 {
  font-size: 60px;
  line-height: 1;

  @include md {
    font-size: 80px;
  }

  @include lg {
    font-size: 60px;
  }

  @include xl {
    font-size: 80px;
  }
}

.noise {
  background-image: url("./images/noise.png");
  background-blend-mode: overlay;
  mix-blend-mode: overlay;
}

button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  white-space: nowrap;
}

.button {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px 10px;
  background: $Lime;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  transition: 0.2s;
  min-width: 204px;

  &:hover {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.49);
  }

  &:active {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.49);
  }

  @include lg {
    min-width: 158px;
    padding: 26px;
  }

  @include xl {
    font-size: 18px;
    padding: 29px;
    min-width: 220px;
    letter-spacing: 0.5px;
  }

  color: $White;
}

.reset {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px 10px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  transition: 0.2s;
  min-width: 204px;
  border: 1px solid $DarkGray;

  &:hover {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.49);
  }

  &:active {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.49);
  }

  @include lg {
    min-width: 158px;
    padding: 26px;
  }

  @include xl {
    font-size: 18px;
    padding: 29px;
    min-width: 220px;
    letter-spacing: 0.5px;
  }

  color: $DarkGray;
}

.nowrap {
  white-space: nowrap;
}

// form elements

.formField {
  position: relative;
  margin-bottom: 25px;
  width: 100%;
  display: block;
  @include md {
    margin-bottom: 55px;
  }

  textarea {
    resize: none;
  }

  input,
  textarea {
    background: none;
    border: none;
    width: 100%;
    color: $White;
    padding: 20px 10px 10px;
    font-family: $fontText;
    font-size: 11px;
    border-bottom: 1px solid $LimeGreen;
    @include md {
      font-size: 14px;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder {
      color: $DarkGray;
    }

    &:focus {
      background: none;
      outline: transparent;

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }
    }
  }

  /* form validation */
  .error {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    left: 5px;
  }
}

// modal

.openBtn {
  position: fixed;
  top: 162px;
  left: 7px;
  transform-origin: 0;
  z-index: 50;
  background: $Lime;
  border-radius: 3px;
  transition: 0.2s;
  height: 169px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $fontText;
  span {
    transform: rotate(-90deg);
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    color: $White;
  }
  @include md {
    left: 16px;
    margin: 0;
  }
  @include xl {
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  &:hover {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.49);
  }

  &:active {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.49);
  }
}

.disabledBtn {
  pointer-events: none;
  background: $DarkGray;
}

.modal {
  background: $GrayBlue;
  margin: auto;
  z-index: 103;
  border-radius: 8px;
  width: 100%;
  padding: 20px 15px;
  transform: translate(0, -100%);
  transition: 0.65s ease-in-out;
  @include md {
    max-width: 547px;
    padding: 35px 30px;
  }
  @include lg {
    max-width: 750px;
    padding: 45px 40px 40px;
  }
  h3 {
    color: $White;
    font-size: 20px;
    font-family: $fontText;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    line-height: 24px;
    color: $LightGray;
    margin-bottom: 25px;
  }

  .form {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    p {
      color: $White;
      font-size: 16px;
    }
  }

  .formRating {
    width: 100%;
    margin: 15px 0;
  }

  .btns {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 100%;
    @include sm {
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      order: 1;
    }
  }
  .reset {
    margin-bottom: 20px;
    @include sm {
      margin-bottom: 0;
    }
  }
  .button,
  .reset {
    width: 100%;
    @include sm {
      width: auto;
      margin-left: 10px;
    }

    @include lg {
      margin-left: 35px;
    }
    @media (max-width: $md) {
      font-size: 10px;
      min-width: 115px;
    }
  }

  .formField input,
  .formField textarea {
    font-size: 12px;
    line-height: 18px;
  }

  &.open {
    transform: translate(0, 0);
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: $LimeGreen;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba($GrayBlue, 0.5);
  opacity: 0;
  transition: 0.65s ease-in-out;
  z-index: 102;

  &.open {
    opacity: 1;
    display: flex;
    padding: 20px;
    overflow: auto;
  }
}
