@import "var";

.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: $White;
    &.projects {
      header {
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        transition: padding 0.2s;
        &.open {
          padding-top: 15px;
          padding-bottom: 15px;
          background-color: #fff;
        }
        &.scrolled {
          padding-top: 15px;
          padding-bottom: 15px;
          background-color: #1e1e1e;
          &.open {
            background-color: #fff;
          }
          @include md {
            background-color: #fff;
          }
        }
        @include md {
          height: 76px;
          padding-top: 16px;
          padding-bottom: 26px;
        }
        .burger {
          span {
            background-color: #fff;
            @include md {
              background-color: #27272e;
            }
          }
        }
      }
    }
  }