@import "src/var";
.contact{
  width: 210px;

  a{
    display: flex;
    justify-content: flex-start;
    padding: 4px;
  }
  img{
    height: 33px;
    width: auto;
    object-fit: contain;
  }
  li{
    margin-bottom: 20px;
  }
}