@import "src/var";
.contact{
  @include lg{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
a{
  display: flex;
  justify-content: flex-start;
  padding: 4px;
}
  img{
    height: 33px;
    width: auto;
    object-fit: contain;
    @include md{
      height: 55px;
      margin-bottom: 5px;
    }
  }
  li{
    margin-bottom: 20px;
  }
}