@import 'src/var';

.cardsSwiper {
  margin-top: 32px;

  @include md {
    width: 630px;
    margin: 0 auto;
    overflow: hidden;
    height: 385px;
    margin-top: 22px;
  }

  @include lg {
    width: 538px;
    height: 326px;
    margin-top: 0;
  }

  @include xl {
    height: 500px;
    width: 960px;
  }

  :global {
      .swiper {
        margin: 0 auto;
        margin-top: 2px;
        width: 375px;
        
        @include md {
          width: 264px;
        }

        @include lg {
          width: 222px;
        }

        @include xl {
          width: 400px;
        }
      }
  }
}