@import 'src/var';

.cardsSwiper {
  margin-top: 32px;
  width: 275px;
  margin: 0 auto;
  margin-top: 24px;
  overflow: hidden;
  display: flex;
  align-items: stretch;

  @include sm {
    width: 100%;
    height: 100%;
  }

  :global {
      .swiper {
        width: 100%;
        height: 380px;
        overflow: visible;

        @include md {
          margin-left: calc(100% / 3);
        }

        @include lg {
          height: 333px;
        }

        @include xl {
          height: 510px;
        }
      }

      .swiper-slide {
        @include md {
          width: 0;
        }
      }
  }
}